<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- loop 요소로 mapper를 똑같이 사용해줌 -->
<!-- autoMapping false로 하면 일일히 cloumn 값을 다 써줘야함 autoMapping 시 property="employee_id"의 
	setter method가 있어야함! -->
<mapper namespace="join">
	<!-- association : 1:1관계의 JOIN명령을 처리하기 위해서 사용된다. -->
	<resultMap type="part03.dto.EmpDTO" id="emp_dept_result"
		autoMapping="false">
		<result column="employee_id" property="employee_id" />
		<result column="first_name" property="first_name" />
		<result column="job_id" property="job_id" />
		<association property="dept" javaType="part03.dto.DeptDTO">
			<result column="department_id" property="department_id" />
			<result column="department_name" property="department_name" />
		</association>
	</resultMap>

	<!-- join 할 때는 resultMap을 select에서 참조하겠다 id를 넣어줌 -->
	<select id="emp_dept" resultMap="emp_dept_result">
		SELECT e.employee_id,
		e.first_name, e.job_id, d.department_id, d.department_name
		FROM
		employees e, departments d
		WHERE e.department_id = d.department_id
	</select>

	<!-- collection: 1:M관계의 JOIN 명령얼 처리하기 위해서 사용한다. -->
	<resultMap type="part03.dto.DeptDTO" id="dept_emp_result">
		<result column="department_id" property="department_id" />
		<result column="department_name" property="department_name" />
		<collection property="empList" javaType="java.util.List" ofType="part03.dto.EmpDTO"><!-- DeptDTO 값 -->
			<result column="employee_id" property="employee_id" />
			<result column="first_name" property="first_name" />
			<result column="job_id" property="job_id" />
		</collection> <!-- 이 친구들을 DAO에서 참조 -->
	</resultMap>

	<select id="dept_emp_list" resultMap="dept_emp_result"> <!-- dept_emp_list를 join dao에서 호출함  -->
		SELECT d.department_id, d.department_name, e.employee_id, e.first_name, e.job_id
		FROM departments d, employees e
		WHERE d.department_id = e.department_id
	</select>

</mapper>























